.login-container .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 100dvh;
}

.login-container .login .login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
}

.login-container .login .login-left h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-red);
}

.login-container .login .login-left p {
  color: var(--color-gray);
}

.login-container .login .login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 5px 10px 1px rgb(0, 0, 0, 0.2);
}

.login-container .login .login-right .shield {
  color: var(--color-red);
}

.login-container .login .login-right .form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-container .login .login-right .form-login input {
  padding: 1rem;
}

.login-container .login .login-right .form-login .btn-login {
  background-color: var(--color-red);
  padding: 1rem;
  color: var(--color-white);
  cursor: pointer;
}

@media screen and (min-width: 48rem) {

  .login-container .login .login-left {
    width: 40rem;
  }

  .login-container .login {
    flex-direction: row;
    align-items: center;
  }

  .login-container .login .login-right {
    flex: 1;
    height: 100dvh;
    justify-content: center;
  }
}
